.div_titulo {
  text-align: center;
  border: 1px;
  position: absolute;
  height: 100%;
  width: 100%;
  color: aliceblue;
}
.div_video {
  object-fit: cover;
  position: absolute;
  top: 0;
}
.tamaño_video {
  width: 100%;
}
header {
  height: 400px;
  position: relative;
  overflow: hidden;
}
nav {
    background-color: aliceblue;
}